Source: deepin-menu
Priority: extra
Section: devel
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>= 9),
 pkg-config,
 qt6-base-dev,
 qt6-base-private-dev,
 libdtk2widget6-dev,
 liblayershellqtinterface-dev | liblayershellqtinterface6,
 libwayland-dev,
 libglib2.0-dev,
Standards-Version: 3.9.8
Homepage: https://github.com/linuxdeepin/deepin-menu

Package: deepin-menu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin menu service
 Deepin menu service for building beautiful menus.
